<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='buffetForm')"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h4>Inserisci i dati di un buffet</h4>
</div>
<form th:action="@{/admin/buffet}" method="POST" th:object="${buffet}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div>
        <div>
            <span>Nome:</span>
            <span><input type="text" th:field="*{nome}" /></span>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>
        <div>
            <span>Descrizione:</span>
            <span><input type="text" th:field="*{descrizione}" /></span>
            <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
        </div>
        <div>
            <span>Chef:</span>
            <select th:field="${chefId}">
                <option th:each="chef : ${elencoChef}" th:value="${chef.id}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></option>
            </select>
        </div>
        <div>
            <span><button type="submit">Invio</button></span>
        </div>
    </div>
</form>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>