<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='chefForm')"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h4>Inserisci i dati di uno Chef</h4>
</div>
<form th:action="@{/admin/chef}" method="POST" th:object="${chef}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div>
        <div>
            <span>Nome:</span>
            <span><input type="text" th:field="*{nome}" /></span>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>
        <div>
            <span>Cognome:</span>
            <span><input type="text" th:field="*{cognome}" /></span>
            <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
        </div>
        <div>
            <span>Nazione:</span>
            <span><input type="text" th:field="*{nazionalita}" /></span>
            <span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
        </div>
        <div>
            <span><button type="submit">Invio</button></span>
        </div>
    </div>
</form>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>