<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='confermaDeleteChef')"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
  <h3>Sei Sicuro di voler eliminare lo chef <span th:text="${chef.nome} + ' ' +${chef.cognome}">nome chef</span> </h3>
  <form th:action="@{'/admin/deleteChef/' + ${chef.id}}" th:method="POST">
    <button type="submit">Conferma</button>
  </form>
  <form th:action="@{'/chef/' + ${chef.id}}" th:method="GET">
    <button type="submit">Annulla</button>
  </form>
</div>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>