<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='confermaDeleteProdotto')"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h3>Sei Sicuro di voler eliminare il buffet <span th:text="${buffet.nome}">nome buffet</span> </h3>
    <form th:action="@{'/admin/deleteBuffet/' + ${buffet.id}}" th:method="POST">
        <button type="submit">Conferma</button>
    </form>
    <form th:action="@{'/buffet/' + ${buffet.id}}" th:method="GET">
        <button type="submit">Annulla</button>
    </form>
</div>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>