<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=elencoBuffet)"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4>Lista dei buffet</h4>
		<ul>
			<li th:each="buffet : ${elencoBuffet}">
				<a href="buffet"
				   th:href="@{'/buffet' + '/' + ${buffet.id}}"
				   th:text="${buffet.nome}">Penna rossa</a>
				<br><span th:text="'ideato e realizzato da ' + ${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">nome chef</span>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>